

body{
    background-image: url("https://images.template.net/96115/ocean-beach-background-12jct.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color:white;
    font-family: 'Bebas Neue', cursive;
    text-align:center;
}
main > h1{
    height: 50px;
    font-size: 400%;
    color: indianred;
}

main > form {
    text-align: center;
    padding: 10px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 10px;
    margin: 10px;
    transition: background-color .3s, color .3s;
    width: 20%;
    
}

main > form[type=button], input[type=submit], input[type=reset] {
    background-color: azure;
    color: white;
    cursor: pointer;
}
main > form{
    text-align:justify;
   
}

form > input[type=text]:focus {
    border: 3px solid #555;
    background-color: white;
    
  }

  footer{
    width: 50%;
    text-align:center;
    background-color:peru;
    opacity: 0.9;
    display:block;
    align-items: center;
    margin: auto;
    text-decoration-color:white;
    border-radius: 20px;
    padding-top: 10px;
    

  }

  main > div > p{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
  }

  input[type=button], input[type=submit], input[type=reset] {
    background-color:teal;
    border: none;
    color: white;
    padding: 8px 25px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 30px;
  }

  input:hover[type=button], input[type=submit], input[type=reset]{
    background-color: indianred;
    color:white;

  }

  main > div> h2{
    background-color: peru;
    border: 10px;
    padding: 10px;
  }

  main > div > h3{
    /* background-color: teal;
    border-radius: 3px;
    padding: 8px 25px;
    text-decoration: none;
    margin: 4px 120px; */
    color:teal;
    font-size:200%;
    
  }
  

 

